<html>

<head>
  <title>Downtempo</title>
  <link rel="stylesheet" href="lobby.css">
</head>

<body>
  <div class="login-box">
    <h2>Welcome!</h2>
    <form id="log-out-form" method="POST" action="/logout">
      <button id="log-out-button" type="submit">Log out</button>
    </form>
  </div>
  <script src="lobby.js"></script>
</body>

</html>
