html{
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
	background: linear-gradient(#141e30, #243b55);	
}

.display-none {
	display: none;
}

.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	padding: 40px;
	padding-bottom: 20px;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}

.login-box .logo-name {
	margin: 0 0 30px;
	padding: 0;
	color: #F1EEE6;
	text-align: center;
}

.login-box .error-feedback {
	position: absolute;
	bottom: -25px;
	margin: 0;
	padding: 0;
	color: #FB3640;
}

.login-box .successful-feedback {
	position: absolute;
	bottom: -25px;
	margin: 0;
	padding: 0;
	color: #419D78;
}

.login-box .user-box {
	position: relative;
}

.login-box .user-box input {
	width: 100%;
	height: 30px;
	padding: 10px 0;
	font-size: 16px;
	color: #F1EEE6;
	margin-top: 10px;
	margin-bottom: 30px;
	border: none;
	border-radius: 5px;
	border-bottom: 1px solid #F1EEE6;
	outline: none;
	background: transparent;
	box-shadow: none;
}

.login-box .user-box input:required:focus:invalid {
	border-bottom: 1px solid red;
}
.login-box .user-box input:required:focus:valid {
	border-bottom: 1px solid #03E9F4;
}

.login-box .user-box label {
	position: absolute;
	top: -20px;
	left: 0;
	padding: 10px 0;
	font-size: 12px;
	color: #03E9F4;
	pointer-events: none;
	transition: .5s;
}

.login-box form {
	position: relative;
}

.login-box form .button-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.login-box form button {
	padding: 10px 20px;
	background: rgba(255, 255, 255, 0.01);
	color: #03E9F4;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: .25s;
	margin-top: 0;
	margin-bottom: 5px;
	letter-spacing: 4px;
	border: 1px solid white;
}
.login-box form button:hover {
	background: #03E9F4;
	color: #F1EEE6;
	border-radius: 5px;
	box-shadow: 0 0 0.5px #03E9F4,
				0 0 2.5px #03E9F4,
				0 0 5px #03E9F4,
				0 0 12.5px #03E9F4;
}

.login-box form button.form-switch {
	padding: 5px 10px;
	font-size: 12px;
	letter-spacing: 2px;
	border: none;
	background: rgba(255, 255, 255, 0);
	color: white;
}
.login-box form button.form-switch:hover {
	background: white;
	color: #03E9F4;
	border-radius: 5px;
	box-shadow: 0 0 0.5px white,
							 0 0 1px white,
							 0 0 2px white,
							 0 0 5px white;
}
.login-box form button.form-switch:focus {
	outline: none;
}